.index-box{
    min-height: 285px;
}
.bg-font .index-box{
    min-height: 285px;
}
.box-item{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 14px;
}
.text-muted {
    color: #a7a7a7;
}
.listpic-text{
    overflow: hidden;
    width: 100%;
    /*height: 3em;*/
}
.list-pic .attachment-block .attachment-heading {
    font-size: 17px;
    height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*************** block_home_news_post ***************/
.block_home_post {overflow:hidden;}
.block_home_post .pic {
    margin-right:12px;
    padding-top:4px;
    float:left;
}
.block_home_post .pic a {
    display:block;
    position:relative;

    border:3px solid #f2f2f2;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    max-height: 65px;
    overflow: hidden;
}
.block_home_post .pic img {
    border:1px solid #ffffff;
    width: 85px;
}
.block_home_post .text {overflow:hidden;}
.block_home_post .text .title {
    padding-bottom: 0px;
    color: #343434;
    font-weight: bold;
    line-height: 24px;
    height: 46px;
}
.block_home_post .text .title a {
    color:#343434;
    font-weight:bold;
    letter-spacing: 0.8px;
    font-size: 15px;}
.block_home_post .text .title a:hover {color:#0b3d7a; text-decoration:none;}
.block_home_post .text .date {float:left;}
.block_home_post .text .date p {padding-bottom:0px; font-size:11px; color:#868686;}
.block_home_post .text .icons {float:right;}
.block_home_post .text .icons li {margin-left:14px; padding-top:3px; display:block; float:left;}
.block_home_post .text .icons li:first-child {margin-left:0px;}
.block_home_post .text .icons a {padding-left:20px; padding-bottom:1px; display:block; background-repeat:no-repeat; background-position:0px 1px; font-size:11px; color:#919191; line-height:1em;}
.block_home_post .text .icons a.views {background-image:url(images/icon_view_1.png);}
.block_home_post .w_hover span {
    width:100%;
    height:100%;
    display:none;

    position:absolute;
    left:0px;
    top:0px;

    background-color:#ffffff;
    opacity:0.25;
    filter:alpha(opacity=25);
}
.block_home_post .w_hover:hover span {display:block;}

/********************** block_home_news_post **********************/
.block_home_news_post {margin-bottom:6px; padding-bottom:10px; border-bottom:1px solid #f0f0f0;}
.block_home_news_post p {padding-bottom:0px;}
.block_home_news_post .info {height:29px;}
.block_home_news_post .r_part {float:right;}
.block_home_news_post .date {height:29px; float:left;}
.block_home_news_post .date p {font-size:11px; color:#868686; line-height:32px;}
.block_home_news_post .date a {font-size:11px; color:#868686;}
.block_home_news_post .views {height:29px; line-height:32px; margin-left:7px; padding-left:20px; float:left; display:none; background:url(images/icon_view_1.png) no-repeat 0px 11px; font-size:11px; color:#8a8a8a;}
.block_home_news_post .comments {height:29px; line-height:32px; margin-left:11px; padding-left:20px; float:left; display:none; background:url(images/icon_comment_1.png) no-repeat 0px 11px; font-size:11px; color:#8a8a8a;}
.block_home_news_post .title {color:#1a4d5f; line-height:17px;}
.block_home_news_post .title a {color:#1a4d5f;}
.block_home_news_post .title a:hover {text-decoration:none;}
.block_home_news_post:hover .views {display:block;}
.block_home_news_post:hover .comments {display:block;}
.block_home_news_post:hover .title a {color:#0b3d7a;}
.inner_copyright{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}



/****************** block_tabs_type_4 ****************/
.block_tabs_type_4 {}
.block_tabs_type_4 .tabs {height:44px; margin-bottom:-1px; overflow:hidden; position:relative; z-index:2;}
.block_tabs_type_4 .tabs li {margin-left:2px; display:block; float:left; font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#0b3d7a;}
.block_tabs_type_4 .tabs li:first-child {margin-left:0px;}
.block_tabs_type_4 .nav-tabs {
     border-bottom: none;
}
.block_tabs_type_4 .tabs li a {
    width:117px;
    height:44px;
    line-height:28px;
    display:block;
    position:relative;
    padding: 7px 15px;

    background-color:#ffffff;
    border:1px solid #ededed;
    border-bottom: none;

    -moz-border-radius:3px 3px 0px 0px;
    -webkit-border-radius:3px 3px 0px 0px;
    border-radius:3px 3px 0px 0px;

    font-size:16px;
    color:#0b3d7a;
    font-weight: bold;
    text-transform:uppercase;
    text-align:left;
    letter-spacing: 1px;
}
.block_tabs_type_4 .nav-tabs > li.active > a,.block_tabs_type_4 .nav-tabs > li.active > a:hover, .block_tabs_type_4 .nav-tabs > li.active > a:focus {
    cursor: default;
    color: #555;
    border: 1px solid #ededed;
    border-bottom: none;
}
.block_tabs_type_4 .nav-tabs > li.active > a{

}
.block_tabs_type_4 .tabs li:first-child a {width:117px;}
.block_tabs_type_4 .tabs li a:hover {text-decoration:none;}
.block_tabs_type_4 .tabs li a.current {
    height:44px;
    background-color:#ffffff;
    border-bottom:1px solid #ffffff;
    color:#3c3c3c;
    font-weight: 500;
}
.block_tabs_type_4 .tab_content {
    padding:4px 13px 13px;
    display:none;
    position:relative;

    background-color:#ffffff;
    border:1px solid #ededed;

    -moz-border-radius:0px 3px 3px 3px;
    -webkit-border-radius:0px 3px 3px 3px;
    border-radius:0px 3px 3px 3px;



    z-index:1;
}
.block_tabs_type_4 .tab-content {
    padding:4px 13px 13px;

    position:relative;

    background-color:#ffffff;
    border:1px solid #ededed;

    -moz-border-radius:0px 3px 3px 3px;
    -webkit-border-radius:0px 3px 3px 3px;
    border-radius:0px 3px 3px 3px;



    z-index:1;
}
.block_tabs_type_4 .tab_content p {padding-bottom:0px; color:#737373; line-height:17px;}

/********************* block_popular_posts ***************/
.block_popular_posts {}
.block_popular_posts h4 {padding-bottom:14px;}
.block_popular_posts .line_3 {margin:16px 0px 11px;}
.block_popular_posts .line_2 {margin-top:22px;}
.block_popular_posts .article {overflow:hidden;}
.block_popular_posts .article .pic {margin-right:11px; padding-top:4px; float:left;width: 60px;}
.block_popular_posts .article .pic a {
    display:block;
    position:relative;

    border:3px solid #f2f2f2;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    behavior:url(js/PIE.htc);
}
.block_popular_posts .article .pic img {border:1px solid #ffffff;width: 100%;}
.block_popular_posts .article .text {overflow:hidden;}
.block_popular_posts .article .text .title {padding-bottom:8px; color:#383838; font-weight:bold; line-height:17px;}
.block_popular_posts .article .text .title a {color:#383838; font-weight:bold;}
.block_popular_posts .article .text .title a:hover {color:#255a9c; text-decoration:none;}
.block_popular_posts .article .text .date {float:left;}
.block_popular_posts .article .text .date p {padding-bottom:0px; font-size:11px; color:#868686;}
.block_popular_posts .article .text .icons {padding-top:3px; float:right;}
.block_popular_posts .article .text .icons li {margin-left:14px; display:block; float:left;}
.block_popular_posts .article .text .icons li:first-child {margin-left:0px;}
.block_popular_posts .article .text .icons a {padding-left:20px; padding-bottom:1px; display:block; background-repeat:no-repeat; background-position:0px 1px; font-size:11px; color:#919191; line-height:1em;}
.block_popular_posts .article .text .icons a.views {background-image:url(images/icon_view_1.png);}
.block_popular_posts .article .text .icons a.comments {background-image:url(images/icon_comment_1.png);}

.block_popular_posts .w_hover span {
    width:100%;
    height:100%;
    display:none;

    position:absolute;
    left:0px;
    top:0px;

    background-color:#ffffff;
    opacity:0.25;
    filter:alpha(opacity=25);
}
.block_popular_posts .w_hover:hover span {display:block;}

/***************** block_topic_news ********************/
.block_topic_news {margin-left:-20px; margin-bottom:-20px; overflow:hidden;}
.block_topic_news .block_topic_post {margin-left:20px; margin-bottom:20px; float:left;}

/***************** block_topic_post *******************/
.block_topic_post {
    /*width:266px;*/
    margin: 11px 0;
    padding:12px 16px 0px;
    position:relative;

    background-color:#ffffff;
    border:1px solid #ededed;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
.block_topic_post p {padding-bottom:0px;}
.block_topic_post .title {padding-bottom:13px; font-size:13px; color:#383838; font-weight:bold; line-height:18px;}
.block_topic_post .title a {
    font-size:15px;
    color:#383838;
    font-weight:bold;
}
.block_topic_post .title a:hover {color:#255a9c; text-decoration:none;}
.block_topic_post .f_pic {
    width: 100%;
    margin-bottom:13px;
    padding:1px;
    display:inline-block;
    background-color:#ffffff;
    border:4px solid #f2f2f2;
    line-height:0px;
    max-height: 164px;
    overflow: hidden;
}
.block_topic_post .f_pic a {
    width: 100%;
}

.block_topic_post .f_pic img {width:100%; height:auto;}
.block_topic_post .text {
    padding-bottom:15px;
    color:#666666;
    line-height:18px;
    overflow: hidden;
    height: 52px;}
.block_topic_post .text a {color:#666666;}
.block_topic_post .info {height:40px; border-top:1px solid #f0f0f0;}
.block_topic_post .r_part {float:right;}
.block_topic_post .date {height:40px; float:left;}
.block_topic_post .date p {font-size:11px; color:#868686; line-height:40px;}
.block_topic_post .date a {font-size:11px; color:#868686;}
.block_topic_post .category {height:40px; float:left;}
.block_topic_post .category p {font-size:9px; color:#5a8ea1; text-transform:uppercase; line-height:42px;}
.block_topic_post .category a {font-size:9px; color:#5a8ea1; text-transform:uppercase;}
.block_topic_post .views {
    height:40px;
    line-height:40px;
    margin-left:9px;
    padding-left:21px;
    float:left;
    display:block;
    background:url(images/icon_view_1.png) no-repeat 0px 15px;
    font-size:11px;
    color:#8a8a8a;
    float: right;
}


.block_topic_post_feature {}
.block_topic_post_feature p {padding-bottom:0px;}
.block_topic_post_feature .f_pic {
    margin-right:17px;
    margin-top:4px;
    padding:1px;
    float:left;
    display:block;
    position:relative;

    background-color:#ffffff;
    border:4px solid #f2f2f2;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    line-height:0px;
}
.block_topic_post_feature .content {overflow:hidden;}
.block_topic_post_feature .title {padding-bottom:12px; font-size:14px; color:#383838; font-weight:bold; line-height:18px;}
.block_topic_post_feature .title a {font-size:14px; color:#383838; font-weight:bold;}
.block_topic_post_feature .title a:hover {color:#255a9c; text-decoration:none;}
.block_topic_post_feature .info {height:32px; margin-bottom:11px; border-top:1px solid #f0f0f0; border-bottom:1px solid #f0f0f0;}
.block_topic_post_feature .r_part {float:right;}
.block_topic_post_feature .date {height:32px; float:left;}
.block_topic_post_feature .date p {font-size:11px; color:#868686; line-height:32px;}
.block_topic_post_feature .date a {font-size:11px; color:#868686;}
.block_topic_post_feature .category {height:32px; float:left;}
.block_topic_post_feature .category p {font-size:9px; color:#5a8ea1; text-transform:uppercase; line-height:34px;}
.block_topic_post_feature .category a {font-size:9px; color:#5a8ea1; text-transform:uppercase;}
.block_topic_post_feature .views {height:32px; line-height:32px; margin-left:11px; padding-left:21px; float:left; display:block; background:url(images/icon_view_1.png) no-repeat 0px 11px; font-size:11px; color:#8a8a8a;}
.block_topic_post_feature .text {color:#666666; line-height:18px;}
